node_modules/
npm-debug.log*
package-lock.json

mock.json
recorded_responses.json
rapidmock-schema.json
sample_api.json
test.json
api-response.json

*.vsix
.vscode/

.DS_Store
Thumbs.db